<div class="action-box">
  <p>Enter the long URL you want to shorten:</p>
  <form id="createForm" action="/create" method="POST">
    <input type="text" id="longUrl" name="longUrl">
    <button>Shorten</button>
  </form>
  <div id="results"></div>
</div>
